---
import { getI18N, getTranslatedResume } from "@/i18n";
import Section from "../Section.astro";
const i18n = getI18N({ locale: Astro.currentLocale });
const resume = getTranslatedResume({ locale: Astro.currentLocale });
const { skills } = resume;
---

<Section title={i18n.SKILLS_TITLE}>
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    border-radius:  6px;
    background: #eee;
    color: black;
    font-size: .8rem;
    font-weight: 500;
    padding: .2rem .6rem;
  }
</style>